<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Form</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">Table</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">Dashboard</a>
    </div>
  </header>

  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
        <coffee-form></coffee-form>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">
        <coffee-table></coffee-table>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">
        <coffee-dash></coffee-dash>
      </div>
    </section>
  </main>
</div>


<!--The content below is only a placeholder and can be replaced.-->
<!--
<h1>{{title}}</h1>


<h2>Existing Cups</h2>
<ul class="coffees">
  <li *ngFor="let coffee of coffees"
    [class.selected]="coffee === selectedCoffee"
    (click)="onSelect(coffee)">
    <span class="badge">{{coffee.type}}:</span> {{coffee.name}}
  </li>
</ul>
<div *ngIf="selectedCoffee">
  <h2>{{selectedCoffee.name}} details!</h2>
  <div><label>id: </label>{{selectedCoffee.type}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedCoffee.name" placeholder="name">
  </div>
</div>
-->

