<div class="center-align">
  <h3>
    Coffee Data
  </h3>
  <hr />
</div>
<div class="flexcontainer center-align">
  <div class="flex1">
    <h5 style="padding-left: 25px">NAME</h5>
  </div>
  <div class="flex1">
    <h5>TYPE</h5>
  </div>
  <div class="flex2">
    <h5>DISPLAY TEXT</h5>
  </div>
</div>

<mdl-expansion-panel-group #panelGroup>
  <mdl-expansion-panel *ngFor="let coffee of coffees; let idx = index">
    <mdl-expansion-panel-header>
      <mdl-expansion-panel-header-list-content>
        <div class="flexcontainer">
          <div class="flex1">{{coffee.name}}</div>
          <div class="flex1">{{coffee.type}}</div>
          <div class="flex2">{{coffee.displayText}}</div>
        </div>
      </mdl-expansion-panel-header-list-content>
    </mdl-expansion-panel-header>

    <mdl-expansion-panel-content>
      <form #coffeeForm="ngForm" (ngSubmit)="panelGroup.getPanel(idx).collapse(); updateCoffee(coffeeForm, coffee.id, idx)">
        <mdl-expansion-panel-body>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield">
              NAME:
            </div>
            <div class="input-areas mdl-cell mdl-cell--11-col mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="coffeeName"
                placeholder={{coffee.name}}
                required
                [(ngModel)]="coffee.name"
                name="name">
            </div>
            <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield">
              TYPE:
            </div>
            <div class="input-areas mdl-cell mdl-cell--11-col">
              <mdl-select
                placeholder={{coffee.type}}
                required
                [(ngModel)]="coffee.type"
                name="type">
                <mdl-option *ngFor="let type of types" [value]="type">{{type}}</mdl-option>
              </mdl-select>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
              DISPLAY TEXT:
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="coffeeDisplayText"
                placeholder={{coffee.displayText}}
                required
                [(ngModel)]="coffee.displayText"
                name="displayText">
            </div>
          </div>
        </mdl-expansion-panel-body>
        <mdl-expansion-panel-footer>
          <div class="btn-space">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              type="submit"
              [disabled]="!coffeeForm.form.valid">
              Save
            </button>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              (click)="panelGroup.getPanel(idx).collapse(); deleteCoffee(coffee.id)">
              Delete
            </a>
          </div>
        </mdl-expansion-panel-footer>
      </form>

    </mdl-expansion-panel-content>
  </mdl-expansion-panel>
</mdl-expansion-panel-group>




