<!-- <div class="mdl-grid"> -->
  <form action="#">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="coffeeName">
        <label class="mdl-textfield__label" for="coffeeName">Name</label>
      </div>

      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-textfield mdl-js-textfield">
        <mdl-select label="Type" floating-label [(ngModel)]="coffeeTypeOption" name="coffeeType">
          <mdl-option>Short</mdl-option>
          <mdl-option>Tall</mdl-option>
          <mdl-option>Grande</mdl-option>
          <mdl-option>Venti</mdl-option>
        </mdl-select>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="coffeeDisplayText">
        <label class="mdl-textfield__label" for="coffeeDisplayText">Display Text</label>
      </div>
      <!-- Accent-colored raised button with ripple -->
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Submit
        </button>
      </div>
    </div>
  </form>
<!-- </div> -->
