<div [hidden]="submitted">
  <div class="center-align">
    <h3>
      Create Your Coffee
    </h3>
    <hr />
    <img src='../assets/coffee-default.png'/>
  </div>
  <form #coffeeForm="ngForm" (ngSubmit)="onSubmit(coffeeForm)">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield">
        NAME:
      </div>
      <div class="input-areas mdl-cell mdl-cell--11-col mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="coffeeName"
          required
          ngModel name="name">
      </div>
      <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield">
        TYPE:
      </div>
      <div class="input-areas mdl-cell mdl-cell--11-col">
        <mdl-select
          required
          ngModel name="type">
          <mdl-option *ngFor="let type of types" [value]="type">{{type}}</mdl-option>
        </mdl-select>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
        DISPLAY TEXT:
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="coffeeDisplayText"
          required
          ngModel name="displayText">
      </div>
      <!-- Accent-colored raised button with ripple -->
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
          type="submit"
          [disabled]="!coffeeForm.form.valid">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

<div [hidden]="!submitted">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <h3>Congrats!</h3>
    <hr />
    <img src='../assets/coffee-default.png'/>
    <h5>You've added the following to this coffee-crazed world:</h5>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <h6>NAME: {{coffee.name}}</h6>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <h6>TYPE: {{coffee.type}}</h6>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <h6>DISPLAY TEXT: {{coffee.displayText}}</h6>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      style="display: block"
      (click)="newSubmission()">
      New Submission
    </button>
  </div>
</div>
