.flexcontainer {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.initial {
  -webkit-flex: initial;
          flex: initial;
  width: 200px;
  min-width: 100px;
  margin: 15px 15px 15px 15px;
}

.flex1 {
  -webkit-flex: 1;
          flex: 1;
}
.flex2 {
  -webkit-flex: 2;
          flex: 2;
}

.flex-wrap {
  flex-wrap: wrap;
}

.vertical-container {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.coffee-banner {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.img-center {
  display: block;
  margin: 0 auto;
}
